{% extends "base2.html" %}
{% block title %}歡迎光臨咱們的圖書館{% endblock title %}
{% block headmessage %} <h3 style='font-family:標楷體;'>圖書列表</a> {% endblock headmessage %} 
{% block content %} 
{% for post in posts %}
<div class='card row'>
    <div class='card-header row'>
        <div class='col-md-auto'>
            <p style='font-family:微軟正黑體;font-size:18pt;font-weight:bold;'>
            <a href='/post/{{post.slug}}'>{{ post.title }} </a>
            </p>
        </div>
        <div class='col'>
            <p style='font-family:微軟正黑體;font-size:18pt;font-weight:bold;'>
            <a>|   作者:{{ post.author }} </a>
            </p>
        </div>
        
    </div>
    <div class='card-body' style='background-color:#ffffff'>
        <p style='font-family:微軟正黑體;font-size:15pt;font-weight:bold;'>
           {{ post.chapter }}
        </p>
    </div>
    <div class='card-footer'  style='background-color:#ffffff'>
        <p>
            出版時間：{{ post.pub_date }}
        </p>
    </div>
</div>
<br> 
{% endfor %}
{% endblock content %}
